<div class="container">
  <div class="row" style="height:400px">
        <div class="col-sm-6">
          <div class="card card-shadow" style="height: 400px;">
            <% unless @cocktail.img_url.nil?%>
              <div class="card-body card-body-border" style="background-size: cover; background-image: url(<%= cl_image_tag @cocktail.photo.key, height: 300, width: 400, crop: :fill %>)">
                <%= link_to @cocktail.name, cocktail_path(@cocktail), class: "cocktail-name-show" %>
              </div>
            <% end %>

              <%# <%= link_to image_tag(cocktail.img_url, alt: cocktail.name, width: 200), cocktail_path(cocktail) %>
          </div>
        </div>
        <div class="col-sm-6">
        <ul class="dose-desc">
          <% @doses.each do |dose| %>
              <li><%= dose.description %>: <%= dose.amount %>   <%= dose.ingredient.name %></li>
              
          <% end %>
          <li class="mt-3"><%= link_to "Add Dose", new_cocktail_dose_path(@cocktail), class: "btn btn-wipeout" %></li>
        </ul>
        </div>
  </div>
</div>

